@font-face {
  font-family: 'Samsung-Sans';
  src: url('../fonts/SamsungSans-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Samsung-Sans';
  src: url('../fonts/SamsungSans-Light.ttf') format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: 'Samsung-Sans';
  src: url('../fonts/SamsungSans-Regular.ttf') format('truetype');
  font-weight: normal;
}


